site_name: Nimisora's Notes
site_url: 'http://www.nimisora.top/'

theme:
    features:
    - navigation.path
    - navigation.top
    - navigation.tabs
    - search.highlight  # 搜索出的文章关键词加入高亮
    - content.code.copy # 代码复制
    - content.tabs.link
    - navigation.indexes

    name: 'material'
    custom_dir: 'custom'
    font:
      code: Roboto Mono

    icon: 
      logo: material/lumx
    favicon: image/sugar.png

    palette:

    # Light mode
    - scheme: default
      primary: custom
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    # Dark mode
    - scheme: slate
      primary: black
      toggle:
        icon: material/weather-night
        name: Switch to light mode

extra:
  generator: false 

# Extensions
markdown_extensions:
  - footnotes
  - md_in_html
  - attr_list                   # 矩形按钮/按键
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:         # 代码块高亮
      anchor_linenums: true
      linenums: true            # 显示行号
      #auto_title: true         # 显示编程语言名称
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  # - pymdownx.magiclink
  - pymdownx.tasklist:
      custom_checkbox: true
  - def_list
  - pymdownx.critic
  # - pymdownx.snippets
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      permalink: true
      toc_depth: 3

plugins:
  - mkdocs-video:
      is_video: True
  - statistics:
      words_per_minute: 200
  - search
  - git-revision-date-localized:
      locale: zh
  - roamlinks
  - toc
  # - inline-svg
  - minify:
      minify_html: true
  - glightbox:
      touchNavigation: true
      loop: false
      effect: zoom
      slide_effect: slide
      width: 100%
      height: auto
      zoomable: true
      draggable: true
      auto_caption: false
      caption_position: bottom
      background: white
      shadow: true
      manual: false
  #- projects

extra_javascript:
  #- javascripts/mathjax.js
  - javascripts/katex.js
  - javascripts/theme.js
  - javascripts/typing.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://unpkg.com/mermaid/dist/mermaid.min.js 
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js
  # - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  # - https://unpkg.com/zooming/build/zooming.min.js
  # - https://cdn.jsdelivr.net/npm/xterm@5.3.0/lib/xterm.min.js

extra_css:
  - stylesheets/extra.css
  - stylesheets/card.css
  - https://gcore.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.1.0/style.css
  # - https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css
  # - https://cdn.jsdelivr.net/npm/xterm@5.3.0/css/xterm.css

nav:
  - Home: index.md
  - 课程笔记:
    - Courses/index.md
    - 微积分甲 II:
      - Courses/calculusII/index.md
      - 级数: Courses/calculusII/series.md
      - 直线与平面: Courses/calculusII/Line & Plane.md
      - 多元函数微分: Courses/calculusII/differential.md
      - 多元函数积分: Courses/calculusII/integration.md
    - 概率论与数理统计:
      - Courses/PS/index.md
      - 错题本: Courses/PS/review.md
      - 概率论的基本概念: Courses/PS/CH1.md
      - 随机变量及其分布: Courses/PS/CH2.md
      - 多维随机变量及其分布: Courses/PS/CH3.md
      - 随机变量的数字特征: Courses/PS/CH4.md
      - 大数定律与中心极限定理: Courses/PS/CH5.md
      - 数理统计的基本概念: Courses/PS/CH6.md
      - 参数估计: Courses/PS/CH7.md
      - 假设检验: Courses/PS/CH8.md
    - 大学物理 乙:
      - 大物 乙 I: Courses/Physics/PhysicsI.md
      - 大物 乙 II:
        - 电学部分: Courses/Physics/PhysicsII/electricity.md
        - 电磁学部分: Courses/Physics/PhysicsII/electromagnetism.md
        - 光学部分: Courses/Physics/PhysicsII/optics.md
        - 量子部分: Courses/Physics/PhysicsII/quantum.md
    - 离散数学:
      - Courses/DiscreteMathematics/index.md
      - CH 1. Logic and Proofs: Courses/DiscreteMathematics/note/Chapter1.md
      - CH 2. Basic Structure: Courses/DiscreteMathematics/note/Chapter2.md
      - CH 3. Algorithms: Courses/DiscreteMathematics/note/Chapter3.md
      - CH 4. Number Theory and Cryptography: Courses/DiscreteMathematics/note/Chapter4.md
      - CH 5. Induction and Recursion: Courses/DiscreteMathematics/note/Chapter5.md
      - CH 6. Counting: Courses/DiscreteMathematics/note/Chapter6.md
      - CH 8. Advanced Counting Techniques: Courses/DiscreteMathematics/note/Chapter8.md
      - CH 9. Relations: Courses/DiscreteMathematics/note/Chapter9.md
      - CH 10. Graphs: Courses/DiscreteMathematics/note/Chapter10.md
      - CH 11. Trees: Courses/DiscreteMathematics/note/Chapter11.md
    - 计算理论:
      - Courses/tcs/index.md
      - Basics: Courses/tcs/Topic1.md
      - Simple Model: Courses/tcs/Topic2.md
    - 数字逻辑设计:
      - Courses/DD/index.md
      - 理论课笔记:
        - CH 1 &2 P1.Digital System & Boolean Equation: Courses/DD/note/Chapter 1 & 2 Part 1 Digital System & Boolean Equation.md
        - CH 2 P2. Circuit Optimization: Courses/DD/note/Chapter 2 P2 Circuit Optimization.md
        - CH 3. Combinational Logic Design: Courses/DD/note/Chapter 3 Combinational Logic Design.md
        - CH 4. Sequential Circuits: Courses/DD/note/Chapter 4 Sequential Circuits.md
        - CH 5. Digital Hardware Implementation: Courses/DD/note/Chapter 5 Digital Hardware Implementation.md
        - CH 6. Registers and Register Transfers: Courses/DD/note/Chapter 6 Registers and Register Transfers.md
        - CH 7. Memory Basics: Courses/DD/note/Chapter 7 Memory Basics.md
      - Verilog:
        - Verilog基础: Courses/DD/Verilog/VerilogBasic.md
        - Verilog补充: Courses/DD/Verilog/VerilogSupplement.md
    - 计算机组成:
      - Courses/CO/index.md
      - CH 1. 计算机概念与技术: Courses/CO/Chapter1.md
      - CH 2. RISC-V: Courses/CO/Chapter2.md
      - CH 3. 算术单元: Courses/CO/Chapter3.md
      - CH 4. 处理器: Courses/CO/Chapter4.md
      - CH 5. 存储器分级体系: Courses/CO/Chapter5.md
      - CH 6. IO 接口: Courses/CO/Chapter6.md
    - 计算机体系结构:
      - Courses/CA/index.md
      - Fundamentals of Computer Design: Courses/CA/Fundamentals of Computer Design.md
      - Memory Hierarchy Design: Courses/CA/Memory Hierarchy Design.md
      - Instruction-Level Parallelism: Courses/CA/ILP.md
      - Data-Level Parallelism: Courses/CA/DLP.md
      - Thread-Level Parallelism: Courses/CA/TLP.md
    - 操作系统:
      - Courses/OS/index.md
      - Overview: Courses/OS/Topic1.md
      - Operating-System Structures: Courses/OS/Topic2.md
      - Processes: Courses/OS/Topic3.md
    - 数据结构:
      - 数据结构基础:
        - Courses/DS/FDS/index.md 
        - 线性表: Courses/DS/FDS/线性表.md
        - 树: Courses/DS/FDS/树.md
        - 并查集: Courses/DS/FDS/并查集.md
        - 图: Courses/DS/FDS/图.md
        - 排序 & 哈希表: Courses/DS/FDS/排序.md
        - 题目: Courses/DS/FDS/一些经典题目.md
      - 高级数据结构与算法分析:
        - Courses/DS/ADS/index.md 
        - Review: Courses/DS/ADS/Review.md
        - AVL Trees, Splay Tree & Amortized Analysis: Courses/DS/ADS/AVL Trees,Splay Tree & Amortized Analysis.md
        - Red-Black Trees & B+ Trees: Courses/DS/ADS/Red-Black Trees & B+ Trees.md
        - Inverted File Index: Courses/DS/ADS/Inverted File Index.md
        - Leftist Heap & Skew Heap: Courses/DS/ADS/Leftist Heap & Skew Heap.md
        - Binomial Queue: Courses/DS/ADS/Binomial Queue.md
        - Backtracking: Courses/DS/ADS/Backtracking.md
        - Divide & Conquer: Courses/DS/ADS/Divide & Conquer.md
        - Dynamic Programming: Courses/DS/ADS/Dynamic Programming.md
        - Greedy Algorithm: Courses/DS/ADS/Greedy Algorithm.md
        - NP-Completeness: Courses/DS/ADS/NP-Completeness.md
        - Approximation: Courses/DS/ADS/Approximation.md
        - Local Search: Courses/DS/ADS/Local Search.md
        - Randomized Algorithms: Courses/DS/ADS/Randomized Algorithms.md
        - Parallel Algorithms: Courses/DS/ADS/Parallel Algorithms.md
        - External Sort: Courses/DS/ADS/External Sort.md
    - Java 程序设计:
      - Courses/Java/index.md
      - Basics: Courses/Java/basic.md
      - Concurrent: Courses/Java/concurrent.md
      - Web: Courses/Java/web.md
    - 数据库系统:
      - Courses/DB/index.md
      - Introduction: Courses/DB/Introduction.md
      - Relational Model: Courses/DB/Relational Model.md
      - SQL: Courses/DB/SQL.md
      - Entity-Relationship Model: Courses/DB/Entity-Relationship Model.md
      - Relational Database Design: Courses/DB/Relational Database Design.md
      - Storage & File: Courses/DB/Storage & File.md
      - Query Processing: Courses/DB/Query Processing.md
      - Transaction & Concurrency: Courses/DB/Transaction & Concurrency.md
      - Recovery System: Courses/DB/Recovery System.md
    - 8086 汇编语言: 
      - Courses/8086asm/index.md
      - 指令速查: Courses/8086asm/指令速查.md
      - 什么是汇编语言: Courses/8086asm/什么是汇编语言.md
      - CPU、内存和端口: Courses/8086asm/CPU、内存和端口.md
      - 汇编语言源程序格式: Courses/8086asm/汇编语言源程序格式.md
    - 汇编与接口:
      - Courses/asm/index.md
      - The Microprocessor and its Architecture: Courses/asm/ch2.md
    - 网络相关:
      - 无线网络应用 通识课:
        - Courses/无线网络应用/index.md
        - 当今网络: Courses/无线网络应用/当今网络.md
        - 协议与模型: Courses/无线网络应用/协议与模型.md
        - 网络寻址: Courses/无线网络应用/网络寻址.md
      - 计算机网络:
        - Courses/CN/index.md
    - 网络攻防实践基础 短学期:
      - Courses/ctf/index.md
      - Web 基础: Courses/ctf/Web.md
      - Misc 基础: Courses/ctf/Misc.md
      - Reverse 基础: Courses/ctf/Reverse.md
      - Pwn 基础: Courses/ctf/Pwn.md
      - Crypto 基础: Courses/ctf/Crypto.md
      - Web 专题: Courses/ctf/WebTopic.md
      - Misc 专题: Courses/ctf/MiscTopic.md
    - 区块链技术应用实践 短学期:
      - Courses/Blockchain/index.md
      - 比特币: Courses/Blockchain/btc.md
      - 以太坊: Courses/Blockchain/eth.md
      - 超级账本: Courses/Blockchain/fabric.md
  - 课外积累:
    - Accumulation/index.md
    - CSAPP:
      - Accumulation/CSAPP/index.md
      - CH 1. 计算机系统漫游: Accumulation/CSAPP/Chapter1.md
      - CH 2. 信息的表示与处理: Accumulation/CSAPP/Chapter2.md
      - CH 3. 程序的机器级表示: Accumulation/CSAPP/Chapter3.md
      - CH 4. 处理器体系结构: Accumulation/CSAPP/Chapter4.md
      - CH 5. 优化程序性能: Accumulation/CSAPP/Chapter5.md
      - CH 6. 存储器层次结构: Accumulation/CSAPP/Chapter6.md
      - CH 7. 链接: Accumulation/CSAPP/Chapter7.md
      - CH 8. 异常控制流: Accumulation/CSAPP/Chapter8.md
      - CH 9. 虚拟内存: Accumulation/CSAPP/Chapter9.md
    - Physics-Based Simulation:
      - Accumulation/Physics-Based Simulation/index.md
      - Simulation with Optimization: Accumulation/Physics-Based Simulation/Simulation with Optimization.md
      - Boundary Treatments: Accumulation/Physics-Based Simulation/Boundary Treatments.md
    - Shape Analysis:
      - Accumulation/ShapeAnalysis/index.md
      - Introduction: Accumulation/ShapeAnalysis/CH1.md
      - Mathmatical Background: Accumulation/ShapeAnalysis/CH2.md
      - Curves: Accumulation/ShapeAnalysis/CH3.md
      - Surfaces: Accumulation/ShapeAnalysis/CH4.md
      - Curvatures: Accumulation/ShapeAnalysis/CH5.md
    - Games101:
      - Accumulation/Games101/index.md
      - 作业框架: Accumulation/Games101/作业框架.md
      - Transformation: Accumulation/Games101/Transformation.md
      - Rasterization: Accumulation/Games101/Rasterization.md
      - Shading: Accumulation/Games101/Shading.md
      - Geometry: Accumulation/Games101/Geometry.md
      - Ray Tracing: Accumulation/Games101/Ray Tracing.md
      - Materials and Appearances: Accumulation/Games101/Materials and Appearances.md
    - Games103:
      - Accumulation/Games103/index.md
      - Rigid Body: Accumulation/Games103/Rigid Body.md
      - Cloth: Accumulation/Games103/Cloth.md
      - Soft Body: Accumulation/Games103/Soft Body.md
      - Fluid: Accumulation/Games103/Fluid.md
    - LearnOpenGL:
      - Accumulation/LearnOpenGL/index.md
      - 1. 入门: Accumulation/LearnOpenGL/1.入门.md
      - 2. 光照: Accumulation/LearnOpenGL/2.光照.md
      - 3. 模型加载: Accumulation/LearnOpenGL/3.模型加载.md
      - 4. 高级OpenGL: Accumulation/LearnOpenGL/4.高级OpenGL.md
    - CS106L:
      - Accumulation/CS106L/index.md
      - C++: Accumulation/CS106L/C++.md
      - 补充: Accumulation/CS106L/Addition.md
    - CMU 15-445 Database Systems:
      - Accumulation/CMU15-445/index.md
      - 1. Course Overview: Accumulation/CMU15-445/Course Overview.md
      - 2. Intermediate SQL: Accumulation/CMU15-445/Intermediate SQL.md
      - 3. Database Storage: Accumulation/CMU15-445/Storage.md
      - 4. Storage Model & Compression: Accumulation/CMU15-445/Storage Model.md
      - 5. Memory Management: Accumulation/CMU15-445/Memory Management.md
      - 6. Data Structures: Accumulation/CMU15-445/Data Structures.md
      - 7. Query Execution: Accumulation/CMU15-445/Query Execution.md
      - 8. Concurrency Control: Accumulation/CMU15-445/Concurrency Control.md
      - 9. Database Crash: Accumulation/CMU15-445/Database Crash.md
      - 10. Distributed Database: Accumulation/CMU15-445/Distributed Database.md
    - 南京大学 操作系统原理:
      - Accumulation/NJUOS/index.md
      - 虚拟化: Accumulation/NJUOS/virtual.md
      - 并发: Accumulation/NJUOS/concurrency.md
      - 持久化存储: Accumulation/NJUOS/persistence.md
    - 论文阅读:
      - Accumulation/paper/index.md
      - Linear subspace design for real-time shape deformation: Accumulation/paper/speedup_1.md
      - Progressive Shell Quasistatics for Unstructured Meshes: Accumulation/paper/speedup_2.md
      - Surface Multigrid via Intrinsic Prolongation: Accumulation/paper/speedup_3.md
    - Vue.js: Accumulation/Vue.js.md
    - Java: Accumulation/JAVA.md
    #- Java反序列化: Accumulation/Java序列化.md
    - SQL: Accumulation/SQL.md
    - LeetCode: Accumulation/Leetcode刷题.md
  - 技术积累:
    - Techniques/index.md
    - 建立在线笔记: Techniques/建立在线笔记.md
    - 正则表达式: Techniques/正则表达式.md
    - Reveal-md: Techniques/Reveal-md.md
    - 杂项: Techniques/杂项.md
  - 兴趣:
    - Galgame: 
      - 个人评价: blog/Galgame/个人评价.md
      - 汉化: blog/Galgame/汉化.md
    - 番剧:
      - 番剧: blog/Anime/番剧.md
      - 异世界推荐: blog/Anime/异世界推荐.md
  - 友情链接: friend.md