body {
    font-family: "LXGW WenKai", sans-serif;
  }

.md-typeset h3 {
    color:rgb(42,164,187)
}

.md-typeset h2 {
    color:rgb(76,177,72)
}

.md-typeset h1 {
    color:rgb(150,194,46)
}

.md-typeset h4 {
    color:rgb(117,162,230);
    font-size: large;
}

.md-typeset h5 {
  color:rgb(178,150,243);
  font-size: large;
}

.md-typeset h6 {
  color:rgb(234,165,248);
  font-size: large;
}

h2::before, h3::before, h4::before, h5::before {
  content: "# ";
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5 {
    font-weight: 600;
}


::selection {
  background:rgba(244,144,177,0.6);
}

.md-header__topic {
  font-weight: bold;
}

:root {
    --md-primary-fg-color:        #F06292;
    --md-primary-fg-color--light: #F06292;
    --md-primary-fg-color--dark:  #F06292;
}

[data-md-color-scheme=default] {
    --md-default-bg-color: rgba(254,245,246,1); /*淡粉色背景，可爱好耶*/
    /*--md-typeset-table-color: rgba(0, 0, 0, .12);
    --md-footer-bg-color: rgba(0, 0, 0, .87);*/
    --md-shadow-z1: 1px 1px 3px #fff5ee, 1px 1px 5px #e1d0c5;
    --md-shadow-z2: 1px 1px 3px #fff5ee, 2px 2px 7px #cebeb3;
    --md-shadow-z3: 1px 1px 3px #fff5ee, 2px 2px 9px #cebeb3;
}


