<font style="font-weight: 1000;font-size: 20px" color="MediumVioletRed" align="center">Comments:</font>

<div class="tx-switch">
    <button class="button1" data-md-color-primary="red" style="background-color:red; color:white; padding: 1px 4px; border-radius: 4px; width: 80px;">red</button>
    <button class="button1" data-md-color-primary="pink" style="background-color:pink; color:black; padding: 1px 4px; border-radius: 4px; width: 80px;">pink</button>
    <button class="button1" data-md-color-primary="purple" style="background-color:purple; color:white; padding: 1px 4px; border-radius: 4px; width: 80px;">purple</button>
    <button class="button1" data-md-color-primary="indigo" style="background-color:indigo; color:white; padding: 1px 4px; border-radius: 4px; width: 80px;">indigo</button>
    <button class="button1" data-md-color-primary="blue" style="background-color:blue; color:white; padding: 1px 4px; border-radius: 4px; width: 80px;">blue</button>
    <button class="button1" data-md-color-primary="cyan" style="background-color:cyan; color:black; padding: 1px 4px; border-radius: 4px; width: 80px;">cyan</button>
    <button class="button1" data-md-color-primary="teal" style="background-color:teal; color:white; padding: 1px 4px; border-radius: 4px; width: 80px;">teal</button>
    <button class="button1" data-md-color-primary="green" style="background-color:green; color:white; padding: 1px 4px; border-radius: 4px; width: 80px;">green</button>
    <button class="button1" data-md-color-primary="lime" style="background-color:lime; color:black; padding: 1px 4px; border-radius: 4px; width: 80px;">lime</button>
    <button class="button1" data-md-color-primary="orange" style="background-color:orange; color:black; padding: 1px 4px; border-radius: 4px; width: 80px;">orange</button>
    <button class="button1" data-md-color-primary="brown" style="background-color:brown; color:white; padding: 1px 4px; border-radius: 4px; width: 80px;">brown</button>
    <button class="button1" data-md-color-primary="grey" style="background-color:grey; color:white; padding: 1px 4px; border-radius: 4px; width: 80px;">grey</button>
    <button class="button1" data-md-color-primary="black" style="background-color:black; color:white; padding: 1px 4px; border-radius: 4px; width: 80px;">black</button>
    <button class="button1" data-md-color-primary="white" style="background-color:white; color:black; padding: 1px 4px; border-radius: 4px; width: 80px;">white</button>
</div>

<script>
var buttons = document.querySelectorAll("button[data-md-color-primary]")
buttons.forEach(function(button) {
        button.addEventListener("click", function() {
        var attr = this.getAttribute("data-md-color-primary")
        document.body.setAttribute("data-md-color-primary", attr)
        localStorage.setItem("data-md-color-primary",attr);
        })
})
</script>


<div id="__comments"></div>

<script src="https://giscus.app/client.js"
        data-repo="Sora-o-tobu/ObsiProject"
        data-repo-id="R_kgDOLs28Jg"
        data-category="Announcements"
        data-category-id="DIC_kwDOLs28Js4CmA7r"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>

updateScheme();

</script>

  <!-- Synchronize Giscus theme with palette -->
  <script>
    var giscus = document.querySelector("script[src*=giscus]")

    // Set palette on initial load
    var palette = __md_get("__palette")
    if (palette && typeof palette.color === "object") {
      var theme = palette.color.scheme === "slate"
        ? "transparent_dark"
        : "light"

      // Instruct Giscus to set theme
      giscus.setAttribute("data-theme", theme) 
    }

    // Register event handlers after documented loaded
    document.addEventListener("DOMContentLoaded", function() {
      var ref = document.querySelector("[data-md-component=palette]")
      ref.addEventListener("change", function() {
        var palette = __md_get("__palette")
        if (palette && typeof palette.color === "object") {
          var theme = palette.color.scheme === "slate"
            ? "transparent_dark"
            : "light"
			localStorage.setItem("data-md-color-scheme", palette.color.scheme === "slate" ? "slate" : "default");

          // Instruct Giscus to change theme
          var frame = document.querySelector(".giscus-frame")
          frame.contentWindow.postMessage(
            { giscus: { setConfig: { theme } } },
            "https://giscus.app"
          )
        }
      })
    })
  </script>